;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu May 21 09:49:46 2020
;; Desktop file format version 206
;; Emacs version 22.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/WangXueshe/Desktop/Home Page/wangxueshe.github.io/_config.yml"
  "_config.yml"
  'fundamental-mode
  '(global-auto-revert-mode)
  8038
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . mule-utf-8-unix)))

